<% include partials/header %>

<% include partials/navbar %>

<div class="container" id="firstComponent">
    <div class="text-center py-4"> <h1>Create a new post</h1> </div>
    <% include partials/form %>
</div>


<% include partials/footer %>